<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Roulette</title>
</head>

<body>
  <header id="header">
    <div class="title">
      {{title}}
    </div>
    <div class="sub-links" v-show="pc_or_mobile_show">
      <li v-for="(link, index) in links" v-on:click="clickLink(index)">{{link.title}}</li>
    </div>
    <div class="sub-box" v-show="!pc_or_mobile_show" v-on:click="clickSubBox" v-bind:class="{ box_active: box_open_flag}">
      <li></li>
      <li></li>
      <li></li>
    </div>
    <div class="sub-bords" v-show="!pc_or_mobile_show" v-bind:class="{ bords_active: box_open_flag}">
      <li v-for="(link, index) in links" v-on:click="clickLink(index)">{{link.title}}</li>
    </div>
  </header>

  <section>
    <div id="roulette">
      <div class="view">
        <div class="top">
          <div>
            {{left_title}}
          </div>
          <div>
            {{right_title}}
          </div>
        </div>
        <div class="middle">
          <div class="left">
            {{left_display}}
          </div>
          <div class="right">
            {{right_display}}
          </div>
        </div>
        <div class="bottom">
          <button type="button" v-on:click="start" v-if="!roulette_flag">start</button>
          <button type="button" v-on:click="stop" v-if="roulette_flag">stop</button>
        </div>
      </div>

      <div class="controller">
        <button type="button" v-on:click="change_flag = !change_flag" v-if="!change_flag">変更</button>
        <button type="button" v-on:click="change_flag = !change_flag" v-if="change_flag">閉じる</button>
      </div>

      <div class="sub-view"　v-bind:class="{'subviewon': change_flag}">
        <div class="top">
          <button type="button" v-on:click=change_title>変更</button>
        </div>
        <div class="middle">
          <div class="left" v-on:click="change_target = true" v-bind:class="{'bord-active': change_target}">
            {{left_title}}
          </div>
          <div class="right" v-on:click="change_target = false" v-bind:class="{'bord-active': !change_target}">
            {{right_title}}
          </div>
        </div>
        <div class="bottom">
          <div class="child-bord" v-if="change_detail">
            <li v-for="(item, index) in data_list" v-on:click="select_title(index)">{{item.title}}</li>
          </div>
        </div>

      </div>
    </div>

    <div id="timer">
      <div class="timer">
        <div class="time">
          <span v-if="!timeupflag">{{ formatTime }}</span>
          <span v-if="timeupflag">Time up</span>
        </div>
        <div class="time-count-box" v-bind:class="{'timeron': timerOn}">
          <li v-on:click="min=1;sec=0" >1min</li>
          <li v-on:click="min=5;sec=0" >5min</li>
          <li v-on:click="min=10;sec=0">10min</li>
        </div>
        <div class="timer-controller-box">
          <button v-on:click="start" v-if="!timerOn">Start</button>
          <button v-on:click="stop" v-if="timerOn">Stop</button>
          <button v-on:click="reset" >Reset</button>
        </div>
      </div>
    </div>
  </section>

  <script src="https://unpkg.com/vue@2.5.17"></script><!-- 2020.8月時点のversion -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="main.js" charset="utf-8"></script>
</body>

</html>
